.schedule-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 20px;
	gap: 20px; /* Add this line to set the gap between columns */
}

.schedule-container__wrapper {
	background-color: blue;
	color: white;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 30%; /* Adjust the width to a percentage */
	/* Removed the fixed height */
}

.schedule-container__wrapper h3 {
	margin-top: 0;
}

.schedule-container__wrapper ul {
	list-style-type: none;
	padding: 0;
}

.schedule-container__wrapper ul li {
	margin-bottom: 10px;
}

.file-inputs {
	display: flex;
	justify-content: space-evenly;
}

.file-inputs div {
	background-color: rgb(0, 183, 255);
	padding: 10px;
	border-radius: 5px;
}

.file-inputs input,
.file-inputs select,
.file-inputs button {
	margin: 5px 0;
}